.jobListing {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    height:220px;
    width:600px;

  }
  .header>img{
    position:absolute;
    top:90px;
    left:550px;
    width:80px;
    height:70px;
  }
  
  .header h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  .header>h5{
    color:blue;
    position:absolute;
    top:150px;
    left:500px;
  }
  
  .company {
    font-size: 14px;
    color: #777;
  }
  
  .details span {
    margin-right: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .meta {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    gap: 10px;
    
  }.meta >p{
    position:absolute;
    top:230px;
    color:rgb(54, 50, 50);
  }
  
  .actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    
  }
  
  .actions>button{
    margin-right:20px;
    color:blue;
    border:2px solid blue;
    border-radius:50px;
    position:absolute;
    top:230px;
    left:370px;
    
    
  }
  .actions1>button{
    margin-right:10px;
    color:white;
    background-color:blue;
    border:2px solid blue;
    border-radius:50px;
    margin-left:200px;
    margin-bottom:1000px;
    position:absolute;
    top:230px;
    left:320px;
    
    
  }
  .border{
    width:600px;
    border:1px solid rgb(146, 132, 132);
    position:absolute;
    top:60px;
    height:0px;
    color:rgb(207, 206, 206);
  }

  .company{
    position:absolute;
    top:90px;
  }
  .details{
    position: absolute;
    top:150px;
    color:grey;
  }
  