
.reviews {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width:290px;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  
  .header h4 {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:530px;
  }
  
  .header a {
    color: #04215a bold;
    text-decoration: none;
    font-size: 14px;
    position:absolute;
    top:558px;
    left:880px;

  }
  
  .reviewItem {
    margin-top: 10px;
    
    padding-top: 10px;
  }
  
  .reviewItem h4 {
    font-size: 16px;
  }
  
  .author {
    font-size: 12px;
    color:white;
  }
  
  .rating {
    font-size: 16px;
    color: #ffcc00;
  }
  
  h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .reviewItem p {
    font-size: 14px;
    color: black;
  }