
.reviews {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .header a {
    color: #0057ff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .reviewItem {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .reviewItem h4 {
    font-size: 16px;
  }
  
  .author {
    font-size: 12px;
    color: #777;
  }
  
  .rating {
    font-size: 16px;
    color: #ffcc00;
  }
  
  h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .reviewItem p {
    font-size: 14px;
    color: #555;
  }